<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0WmgXoPbd0teNBB2yi0FNF0U8cND5rEg</string>
	<key>GCM_SENDER_ID</key>
	<string>324538245689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.remoteConfigPractice</string>
	<key>PROJECT_ID</key>
	<string>remoteconfig-5ca13</string>
	<key>STORAGE_BUCKET</key>
	<string>remoteconfig-5ca13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324538245689:ios:4b45ef38645d496b17a3e8</string>
</dict>
</plist>